### Código de Criação e Edição do Banco de Dados

In [3]:
# Bibliotecas

import sqlite3
import pandas as pd

In [4]:
# Carregar o dataset
df = pd.read_csv('GlobalLandTemperaturesByCountry.csv')

# Exibir as primeiras linhas do dataset
print("Antes do tratamento de dados:")
print(df.head())

Antes do tratamento de dados:
           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [5]:
# Tratamento de dados: Remover valores null e NaN
df.dropna(inplace=True)

# Exibir as primeiras linhas do dataset após o tratamento de dados
print("Depois do tratamento de dados:")
print(df.head())

Depois do tratamento de dados:
           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland

In [6]:
# Conectar ao banco de dados SQLite
conn = sqlite3.connect('global_temperatures.db')
c = conn.cursor()

# Criar a tabela
c.execute('''
    CREATE TABLE IF NOT EXISTS temperatures (
        dt TEXT,
        AverageTemperature REAL,
        AverageTemperatureUncertainty REAL,
        Country TEXT
    )
''')

# Inserir os dados no banco de dados
df.to_sql('temperatures', conn, if_exists='replace', index=False)

# Confirmar a criação da tabela
c.execute('SELECT * FROM temperatures LIMIT 5')
print(c.fetchall())

# Fechar a conexão com o banco de dados
conn.close()

[('1743-11-01', 4.384, 2.294, 'Åland'), ('1744-04-01', 1.53, 4.68, 'Åland'), ('1744-05-01', 6.702000000000001, 1.789, 'Åland'), ('1744-06-01', 11.609000000000002, 1.577, 'Åland'), ('1744-07-01', 15.342, 1.41, 'Åland')]